/* Basislayout */

body {
  background-image: url("wit.jpg");
  background-repeat: no-repeat;
  background-position: ;
  background-size: 600px;
}


main {
    margin: 0 auto;
    position: relative;
  
}


article {
    text-align: justify;
    color: rgb(0, 0, 0);
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 400px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(248, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* pagina vechters */
img.vechter {
  float:left;
  margin: 10px;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  
    overflow: hidden;
}

nav ul li {
    float: left ;
}

nav li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #080000;
}

nav li a.active {
    background-color: rgb(0, 0, 0);
}

#hoi {
  height: 200px;
  float: left ;
}



