/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    
    color: #ff0000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 750px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 0, 13);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(248, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left ;
}

nav li a {
    display: block;
    color: rgb(240, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #080000;
}

nav li a.active {
    background-color: rgb(0, 0, 0);
}

#hoi {
  height: 200px;
  float: right
}


